{% extends "Shopplist/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'Shopplist/main.js' %}"></script>
{% endblock %}

{% block body %}

<div id="alert-holder">
    <div id="alert-message" role="alert"></div>
</div>

<div id="site-body">
    <div id="active-view">
        <h3>Active Items</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Aisle</th>
                    <th scope="col">Checked</th>
                </tr>
            </thead>
            <tbody id="active-items-list">
            </tbody>
        </table>
    </div>

    <div id="all-items-view">
        <form>
            <h5>Add New Item</h5>
            {% csrf_token %}
            {{ item_form }}
            <input class="btn btn-primary" type="submit" value="Add">
        </form>

        <h3 style="margin-top:30px;">All Items</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Item Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Aisle</th>
                    <th scope="col">On List</th>
                </tr>
            </thead>
            <tbody id="all-items-list">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}