{% extends "Shopplist/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'Shopplist/main.js' %}"></script>
{% endblock %}

{% block body %}

<div id="alert-holder">
    <div id="alert-message" role="alert"></div>
</div>

<div id="site-body">
    <div id="active-view">
        <div class="row">
            <div class="col">
                <h3>Active Items</h3>
            </div>
            <div class="col" style="text-align:right; padding-right:50px;">
                <button class="btn btn-success" name="finish-shopping">Finish Shopping</button>
            </div>            
        </div>
        <div class="row">
            <h5 style="margin-left: 25px;">
                Estimated total:
                <span class="estimate-total total-increase"></span>
            </h5>
        </div>
    </div>

    <div id="all-items-view">
        <form>
            <h5>Add New Item</h5>
            {% csrf_token %}
            {{ item_form }}
            <input class="btn btn-primary btn-sm" type="submit" value="Add">
        </form>
        <h3 style="margin-top:20px;">All Items</h3>
    </div>

    <div id="settings-view">
        <div class="row" style="width:600px">
            <div class="col">
                <h3>Remove Categories</h3>
            </div>
            <div class="col" style="margin:auto auto;">
                <input type="submit" class="btn btn-danger btn-sm" name="delete" value="Remove" style="width:70px;"></button>
            </div>
        </div>

        <form>
            <div class="row row-manage">
                <div class="col-2 col-manage delete-categories">
                    <div id="cat-delete-options"></div>
                </div>
            </div>
        </form>

        <div class="row" style="width:600px">
            <div class="col">
                <h3>Add Category</h3>
            </div>
            <div class="col" style="margin:auto auto;">
                <input type="submit" class="btn btn-success btn-sm" name="add" value="Add" style="width:70px;"></button>
            </div>
        </div>
        <input type="text" id="new-category">

        <h3>Toggle Darkmode</h3>
        <div id="darkmode-holder">
            <div class="row" style="width:300px">
                <div class="col-2" style="text-align:right;">
                    <span id="darkmode-off"></span>
                </div>
                <div class="col-10" style="padding-left:5px;">
                    <label class="switch">
                        <input type="checkbox" id="darkmode-toggle">
                        <span class="slider round"></span>
                    </label>
                    <span id="darkmode-on"></span>
                </div>
            </div>
        </div>
    </div>

    <div id="list-table">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">
                        <span>Item Name</span>
                        <button class="btn btn-link btn-sm dropdown-toggle" type="button" name="sort" data-sort="name">
                    </th>
                    <th scope="col">
                        <span>Category</span>
                        <button class="btn btn-link btn-sm dropdown-toggle" type="button" name="sort" data-sort="category">
                    </th>
                    <th scope="col">
                        <span>Aisle</span>
                        <button class="btn btn-link btn-sm dropdown-toggle" type="button" name="sort" data-sort="aisle">
                    </th>
                    <th scope="col" name="quantity-col" style="min-width: 375px;">
                        <span></span>
                        <button class="btn btn-link btn-sm dropdown-toggle" type="button" name="sort" data-sort="quantity"></button>
                    </th>
                    <th scope="col" name="check-col" style="min-width: 175px;"></th>
                </tr>
            </thead>
            <tbody id="items-list">
            </tbody>
        </table>
    </div>
</div>
{% endblock %}