{% extends "Shopplist/layout.html" %}
{% load static %}

{% block script %}
    <script src="{% static 'Shopplist/manage.js' %}"></script>
{% endblock %}

{% block body %}
<div id="settings-view">
    <h3>Manage Categories / Aisles</h3>
    <form>
        <div class="row row-manage">
            <div class="col-2 col-manage delete-categories">
                <h6>Remove Category</h6>
                {% for category in categories %}
                    <div>
                        <input type="checkbox" class="delete-options">{{ category }}</option>
                    </div>
                {% endfor %}
            </div>
            <div class="col-2 col-manage delete-aisles">
                <h6>Remove Aisle</h6>
                {% for aisle in aisles %}
                    <div>
                        <input type="checkbox" class="delete-options">{{ aisle }}</option>
                    </div>
                {% endfor %}
            </div>
            <div class="col" style="margin-top:auto; margin-bottom:10px;">
                <input type="submit" class="btn btn-danger" name="delete" value="Remove"></button>
            </div>
        </div>
    </form>
</div>

{% endblock %}