.nav-link {
    cursor: pointer;
}

.dark-mode {
    background-color: rgba(0, 0, 0, 0.829);
    color: white;
    animation-name: darkmode;
    animation-duration: 2s;
}

@keyframes darkmode {
    0% {background-color: white; color: black}
    100% {background-color: rgba(0, 0, 0, 0.829); color: white}
}

#site-body {
    margin: 10px;
}

.item-holder {
    margin: 10px 10px;
    padding: 10px 10px;
    border: 1px solid red;
}

#alert-message {
    margin: 10px 10px;
}

textarea {
    height: 40px;
}

.dropdown-toggle::after {
    /* make button centered */
    margin-left: 0px;
    color: blue;
}

.table td {
    vertical-align: middle;
}

th {
    width: 20%;
}


.item-quantity {
    width: 40px;
}

.item-price {
    width: 80px;
}

.col-3 {
    margin: auto;
    padding: auto;
}

.delete-options {
    margin: 10px 10px;
}

form > label {
    margin-left: 20px;
    margin-right: 5px;
}

#id_aisle {
    margin-right: 15px;
}

.row-manage {
    margin: 20px 40px;
}

.col-manage {
    width: 10%;
    min-width: 225px;
}

h3 {
    margin-left: 10px;
}

.total-increase {
    animation-name: increase;
    animation-duration: 1s;
}

@keyframes increase {
    0% {color: inherit}
    50% {color: rgb(214, 11, 11)}
    100% {color: inherit}
}

.total-decrease {
    animation-name: decrease;
    animation-duration: 1s;
}

@keyframes decrease {
    0% {color: inherit}
    50% {color: rgb(10, 172, 10)}
    100% {color: inherit}
}

#darkmode-holder {
    margin-left: 40px;
    font-size: 20px;
    font-weight: bold;
}

/* switch via w3schools https://www.w3schools.com/howto/howto_css_switch.asp*/
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
